.nav-root{
    height: 100vh;
    width: 4vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #d8727f 50%, #455b7a 90%);
    border-right: 2px solid #ffaa5d;
}
.nav-root > .selected{
    background-color: #ffaa5d;
    color: #455b7a;
    cursor: pointer;
    display: grid;
    place-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.nav-root > .unselected{
    background-color: transparent;
    color: #ffaa5d;
    cursor: pointer;
    display: grid;
    place-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.selected > .nav-icon{
    font-size: 3.2vh;
}
.unselected > .nav-icon{
    font-size: 3.2vh;
}

